:root{
  font-size: 18px;
  font-family: georgia,serif;
}
body{
  background-image: url(./../images/Caffe_4.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-attachment: fixed;
  background-size: cover;
  
}
.main-header{
  display: flex;
  flex-wrap: wrap;
  min-width: 380px;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #262626;
  color:white;
  
}
.logo-header {
  text-transform: capitalize;
}
.menu-list,
.button-contact{
  text-transform: uppercase;
  font-weight: bold;
}
.list {
  display: inline-block;
  padding: 0 5px;
  line-height: 3rem;
}
.button-contact {
  padding: 10px 17px;
  border: 3px solid;
  border-radius: 5px;
  font-size: 0.7rem;
  text-decoration: none;
}