.list {
  padding: 0;
  list-style: none;
}
.list-item-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
}
.list-item-container>*{
  flex-grow: 0.5;
}
.event {
  margin-left: auto;
}
.data-event {
  text-align: right;
}